.login-body{
    margin: 0;
    padding: 0;
   
}
.flex-container{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.flex-container  .flex-left{
    padding-top:5%;
    padding-left:10%;
    padding-right:10%;
    width: 50%;
    background-color: #fff;

}

.flex-container  .flex-left .form-body{
    padding-top:10%;
}

.flex-left h2{
    font-size:30px;
}

.flex-container  .flex-right{
    width: 50%;
    background-color: #3248a8;
    min-height: 100vh;
}

.save-button{
    background-color: #3248a8;
    border: 0;
    width: 100%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    /* background-color: red; */
    color: gray;
    text-align: center;
}

.flex-right{
    text-align: center;
    padding: 5%;
    color:#fff;
}

.flex-right img{
    margin-top: 5%;
    width: 250px !important;
    height: 250px !important
}

.flex-right p{
    margin-top:20px
}